<!DOCTYPE html>
<html lang="ja">
<meta charset="utf-8">
<title>データの入力</title>
<style>
  .input-container {
    display: grid;
    grid-template-rows: 200px 50px;
    grid-template-columns: 300px 300px;
    grid-template-areas: "inputArea previewArea" "buttonArea buttonArea";
    grid-gap: 10px;
  }
  .inputArea {
    grid-area: inputArea;
    display: grid;
  }
  .previewArea {
    grid-area: previewArea;
    display: grid;
  }
  .buttonArea {
    grid-area: buttonArea;
    display: grid;
    justify-items: center;
    align-items: center;
  }
</style>
<div id="app">
  <div class="input-container">
    <form class="inputArea">
      <p>ユーザー登録</p>
      <label>ニックネーム</label>
      <!-- <input v-model="nickname"> -->
      <input v-bind:value="nickname" v-on:input="nickname = $event.target.value">
      <label>メールアドレス</label>
      <input v-model="email">
    </form>
    <div class="previewArea">
      <p>プレビュー</p>
      <label>ニックネーム</label>
      <input v-bind:value="nickname" readonly>
      <label>メールアドレス</label>
      <input v-bind:value="email" readonly>
    </div>
    <div class="buttonArea">
      <button v-on:click="saveUser">ユーザー登録をする</button>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.js"></script>
<script>
  const app = Vue.createApp({
    data: () => ({
      users: [],
      nickname: '',
      email: '',
    }),
    methods: {
      saveUser: function() {
        // 登録したユーザーをメモリに保存
        let user = {
          nickname: this.nickname,
          email: this.email,
        };
        this.users.push(user);
        alert('ニックネーム: ' + this.nickname + '、メールアドレス: ' + this.email + 'で登録しました。');
      },
    },
  });
  app.mount('#app');
</script>
